@import './variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Helvetica";
}

button {
  border: none;
  padding: 10px 32px;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  font-size: 9px;
  display: inline-block;
  border-radius: 30px;
  box-shadow: 1px 1px $color-dark-grey;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

.button-red {
    background-color: $color-red;
  }

  .button-information {
    background-color: $color-dark-grey;
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto;
}

.grid-item {
  text-align: center;
}

.padding-30 {
  padding: 30px;
}

.color-light-grey {
  background-color: $color-light-grey;
}

.header {
  grid-row: 1;
  padding: 10px;
  grid-column: 1/4;
  background-color: $color-red;
  color: $color-white;
}

 .head-company-name {
   font-size: 15px;
   text-shadow: 0.5px 0.5px $color-white;
 }

 .company-name {
  font-size: 10px;
  font-weight: lighter;
  opacity: 0.85;
}

.container-advertising-slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.head-advertising-slogan {
  color: $color-dark-grey;
  font-weight: bold;
  text-shadow: 0.4px 0.4px $color-light-red;
  font-size: 25px;
}

.advertising-slogan {
  color: $color-dark-grey;
  text-shadow: 0.4px 0.4px $color-light-red;
  font-size: 20px;
  letter-spacing: 1px;
}

.side-left-picture {
  grid-column: 1;
  grid-row: 2/4;
}

.side-right-picture {
  grid-column: 3;
  grid-row: 2/4;
}

@import './faq';
@import './modal';
@import './mobile';
