@import './variables';

@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .grid-container {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

    #faq-list {
        border: none;
    }

    .faq-item {
        border-top: 1px solid $color-dark-grey;
        border-bottom: none;

        &:last-child {
            border-top: 1px solid $color-dark-grey;
        }
    }
}